footer
  grid-area: footer
  background-color: black
  grid-row-start: 3
  grid-row-end: 4


  section
    display: flex

  ul
    display: flex
    flex-direction: column
    padding: 1rem .5rem
    list-style: none

    @media (min-width: 35em)

      margin: 0 auto
      flex-wrap: wrap
      text-align: left

  li
    padding: .5rem 0
    font-size: 1.1rem

    @media (min-width: 35em)
      padding: .5rem 1rem



  a
    color: white
    transition: all .4s ease-in

    &:hover
      text-decoration: underline
