footer {
  grid-area: footer;
  background-color: black;
}

footer section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media (min-width: 35em) {
  footer section {
    width: 65%;
    margin: 0 auto;
    flex-direction: row;
    padding: 0;
  }
}

footer ul {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

@media (min-width: 35em) {
  footer ul {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
  }
}

footer li {
  padding: .5rem 0;
  font-size: 1.1rem;
}

footer a {
  color: white;
  transition: all .4s ease-in;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
