input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

[class^="step"] {
  padding: 2rem 0;
}

.dropdown-content {
  display: none;
}

#drop_zone {
  margin-top: 80px;
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  width: 50%;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #888;
  cursor: pointer;
  max-width: 500px;
}
