.introduction {
  padding: 2rem 0;
}

form {
  padding: 0;
}

form fieldset {
  padding: 0rem 0;
  -webkit-appearance: none;
  border: none;
}

form h2 {
  padding: 1.5rem 0 1rem 0;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

[class^="step"] {
  padding: 2rem 0;
}

.dropdown .dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content a {
  padding: .5rem;
  text-decoration: none;
}

.dropdown:hover .dropdown-content a:hover {
  text-decoration: underline;
}

#load #drop_zone {
  margin: 2rem 0;
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  width: 50%;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #888;
  cursor: pointer;
  max-width: 500px;
}

#files {
  display: none;
}

.set-values section {
  padding: .5rem 0;
}

.correlationClass #correlationTable {
  width: 100%;
}

.correlationClass #correlationTable td {
  max-width: 100%;
}

.correlationClass #correlationTable input[type="text"] {
  width: 100%;
  background-color: blue;
}
