.header
  grid-area: header
  display: grid
  grid-template-columns: auto
  grid-template-rows: max-content
  grid-template-areas: "logo" "title"
  // width: 100vw
  background-color: black
  color: white
  // height: 100%
  padding: 1.5rem

  @media (min-width: 35em)
    grid-template-columns: 15% 85%
    grid-template-areas: "logo title"
    align-items: center

  a
    grid-area: logo
    padding: 0rem
    display: flex
    justify-content: center
    width: 100%

    img
      width: 100%

  section
    grid-area: title
    display: flex
    flex-direction: column
    text-align: center

    @media (min-width: 35em)
      flex-direction: row
      text-align: left


    .title
      padding: 0 0 0 2rem

      @media (min-width: 35em)
        // padding: 1rem 0

    .version
      padding: 0 0 0 2rem
