header
  grid-area: header
  display: grid
  grid-template-columns: auto
  grid-template-rows: max-content
  grid-template-areas: "logo" "title"

  width: 100%

  background-color: black
  color: white
  padding: 1rem

  @media (min-width: 35em)
    grid-template-rows: auto auto
    grid-template-columns: auto 65% auto
    grid-template-areas: "logo" "title"
    align-items: center
    margin: 0 auto

    padding: 1.5rem


  .logo
    grid-area: logo
    width: 55vw
    max-width: calc(200px + (300 - 200) * ((100vw - 320px) / (2000 - 320)))

    @media (min-width: 35em)
      // width: 30rem
      // max-width: 25vw


    svg
      width: 100%
      max-width: 100%


  .title
    grid-area: title
    display: flex
    flex-direction: column
    text-align: left
    padding: 1rem 0 0 0

    @media (min-width: 35em)
      flex-direction: column
      text-align: left


    .name

      @media (min-width: 35em)
        padding: 0 0 0 0

    .version

      @media (min-width: 35em)
        padding: 0

    h4
