.header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content;
  grid-template-areas: "logo" "title";
  background-color: black;
  color: white;
  padding: 1.5rem;
}

@media (min-width: 35em) {
  .header {
    grid-template-columns: 15% 85%;
    grid-template-areas: "logo title";
    align-items: center;
  }
}

.header a {
  grid-area: logo;
  padding: 0rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header a img {
  width: 100%;
}

.header section {
  grid-area: title;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 35em) {
  .header section {
    flex-direction: row;
    text-align: left;
  }
}

.header section .title {
  padding: 0 0 0 2rem;
}

.header section .version {
  padding: 0 0 0 2rem;
}
