header
  grid-area: header
  display: grid
  grid-template-columns: auto
  grid-template-rows: max-content
  grid-template-areas: "logo" "title"

  background-color: black
  color: white
  padding: 1rem

  @media (min-width: 35em)
    grid-template-columns: 15% 85%
    grid-template-areas: "logo title"
    align-items: center

    padding: 1.5rem

  a
    grid-area: logo
    display: flex
    justify-content: center

    padding: 0rem
    width: 100%

    img
      width: 100%

  section
    grid-area: title
    display: flex
    flex-direction: row
    text-align: left
    padding: 1rem 0 0 0

    @media (min-width: 35em)
      flex-direction: row
      text-align: left


    .title
      flex: 1 0 auto


      @media (min-width: 35em)
        padding: 0 0 0 2rem

    .version
      flex: 1
      text-align: right


      @media (min-width: 35em)
        padding: 0 0 0 2rem

    h4
      font-size: 1.1rem
