root
  --background-color: black

body
  font-size: 100%
  font-family: "Source Sans Pro",Helvetica,Arial,sans-seif

.nist-header
  display: flex
  background-color: black
  color: white
  height: 100%
  align-items: center


  .nist-header__logo

    a
      display: flex


    img
      max-width: 100%
      height: auto


  .nist-header__title
    display: flex
    width: 100%

    h4
      padding: 0 2rem


    h5
      
