root {
  --background-color: black;
}

body {
  font-size: 100%;
  font-family: "Source Sans Pro",Helvetica,Arial,sans-seif;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-template-columns: 100vw;
  grid-template-areas: "header" "content" "footer";
}

@media (min-width: 35em) {
  body {
    font-size: 100%;
  }
}

a {
  text-decoration: none;
}

.nist-header {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas: "logo" "title" "version";
  width: 100vw;
  background-color: black;
  color: white;
  height: 100%;
  text-align: center;
}

@media (min-width: 35em) {
  .nist-header {
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "logo title version";
    align-items: baseline;
  }
}

@media (min-width: 35em) {
  .nist-header {
    grid-template-columns: 15vw 55vw 30vw;
    grid-template-areas: "logo title version";
    align-items: baseline;
  }
}

.nist-header a {
  grid-area: logo;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.nist-header a img {
  align-content: center;
}

.nist-header a svg {
  background-size: contain;
  width: 100%;
}

@media (min-width: 35em) {
  .nist-header {
    padding: 1rem 0;
    text-align: right;
  }
}

.nist-header h4 {
  grid-area: title;
  padding: 1rem 0 0 0;
}

@media (min-width: 35em) {
  .nist-header h4 {
    padding: 1rem 0;
    text-align: left;
  }
}

.nist-header h5 {
  grid-area: version;
  padding: 0 0 1rem 0;
}

@media (min-width: 35em) {
  .nist-header h5 {
    padding: 0 5rem;
  }
}

.content {
  width: 65vw;
  margin: 0 auto;
}

.nist-footer {
  background-color: black;
  padding: 1rem 3rem;
}

.nist-footer ul {
  display: flex;
  flex-direction: column;
  padding: 1rem .5rem;
}

@media (min-width: 35em) {
  .nist-footer ul {
    width: 45vw;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
  }
}

.nist-footer li {
  padding: .5rem 0;
  font-size: .8rem;
}

@media (min-width: 35em) {
  .nist-footer li {
    padding: .5rem 1rem;
  }
}

.nist-footer a {
  color: white;
  transition: all .4s ease-in;
}

.nist-footer a:hover {
  text-decoration: underline;
}
