root {
  --background-color: black;
}

body {
  font-size: 100%;
  font-family: "Source Sans Pro",Helvetica,Arial,sans-seif;
  height: 100%;
}

@media (min-width: 35em) {
  body {
    font-size: 100%;
  }
}

a {
  text-decoration: none;
}

.grid-container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100vw;
  grid-template-areas: "header" "content" "footer";
}

.content {
  grid-area: content;
  width: 65%;
  margin: 0 auto;
}
