body {
  font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (2000 - 320)));
  line-height: calc( 23.4px + (26 - 23.4) * ((100vw - 320px) / (2000 - 320)));
  margin: 0;
  padding: 0;
}

h1 {
  font-size: calc(26px + (52 - 26) * ((100vw - 320px) / (2000 - 320)));
  line-height: calc( 33.8px + (67.6 - 33.8) * ((100vw - 320px) / (2000 - 320)));
  margin: 0;
  padding: 0;
}

h2 {
  font-size: calc(23px + (41 - 23) * ((100vw - 320px) / (2000 - 320)));
  line-height: calc( 29.9px + (53.3 - 29.9) * ((100vw - 320px) / (2000 - 320)));
  margin: 0;
  padding: 0;
}

h3 {
  font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (2000 - 320)));
  line-height: calc( 26px + (46.8 - 26) * ((100vw - 320px) / (2000 - 320)));
  margin: 0;
  padding: 0;
}

h4 {
  font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (2000 - 320)));
  line-height: calc( 23.4px + (41.6 - 23.4) * ((100vw - 320px) / (2000 - 320)));
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
