h4 {
  font-size: calc(22px + (44 - 22) * ((100vw - 320px) / (2000 - 320)));
  line-height: calc( 26.4px + (52.8 - 26.4) * ((100vw - 320px) / (2000 - 320)));
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
