@mixin modular-scale($s-font, $l-font, $height-scale, $min-viewport, $max-viewport)
  font-size: calc(#{$s-font}px + (#{$l-font} - #{$s-font}) * ((100vw - #{$min-viewport}px) / (#{$max-viewport} - #{$min-viewport})))
  line-height: calc( #{$s-font * $height-scale}px + (#{$l-font * $height-scale} - #{$s-font * $height-scale}) * ((100vw - #{$min-viewport}px) / (#{$max-viewport} - #{$min-viewport})))
  margin: 0
  padding: 0


//
// Mobile
// 1.802em  29
// 1.602em  26
// 1.424em  23
// 1.266em  20
// 1.125em  18
// 1em      16


// Laptop
// 3.247em 52
// 2.887em 46
// 2.566em 41
// 2.281em 36
// 2.027em 32


body
  @include modular-scale(18, 20, 1.3, 320, 2000)

h1
  @include modular-scale(26, 52, 1.3, 320, 2000)

h2
  @include modular-scale(23, 41, 1.3, 320, 2000)

h3
  @include modular-scale(20, 36, 1.3, 320, 2000)

h4
  @include modular-scale(18, 32, 1.3, 320, 2000)

a
  color: black
  text-decoration: underline

  &:hover
    text-decoration: none
